/* @import './base.css'; */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: rgb(0, 101, 189);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(233, 100%, 37%, 0.114);
  }
} 



